
.encabezado{
width: 100%;
height: 200px;
background-color: rgb(250, 167, 225);
font-size: 50PX;
text-align: center;
}
.quimica{
    width: 100%;;
    height: 50px;
background-color: blueviolet;
}
.sociales{
width: 100%;
height: 100px;
background-color: rgb(211, 160, 245); 
}
.biologia{
width: 100%;
height: 50px;
background-color: rgb(180, 111, 245);
}
.tecnologia{
width: 100;
height: 50px;
background-color: rgb(252, 91, 225);
}
.matematicas{
width: 100%;
height: 50px;
background-color: rgb(228, 117, 238);
}